# -------------------------------
# Python
# -------------------------------
*.py[cod]
__pycache__/
*.so

# -------------------------------
# Virtual Environments
# -------------------------------
venv/
ENV/
env/
.venv/

# -------------------------------
# Data & Outputs
# -------------------------------
data/
*.csv
*.parquet
*.sqlite
*.db

# -------------------------------
# Jupyter Notebooks
# -------------------------------
.ipynb_checkpoints/

# -------------------------------
# IDEs / Editors
# -------------------------------
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# -------------------------------
# OS-specific files
# -------------------------------
.DS_Store
Thumbs.db

# -------------------------------
# Logs
# -------------------------------
*.log
